* {
  margin: 0;
  padding: 0;
}

.nav {
  margin-bottom: 20px;
}

.card {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 20px;
}

h3 {
  font-family: "Times New Roman", Times, serif;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "浏览";
}
.custom-file-label::after {
  content: "浏览";
}

.alert {
  margin: 0;
}

.input-group {
  padding: 0;
  margin-bottom: 0!important;
}

.form-horizontal {
  position: relative;
  word-spacing: normal;
}

.search-1 {
  padding: 10px 0px 20px 0px;
  font-size: 15px;
}

.Chaxun{
  margin-top: 60px;
}

.search-text {
  padding: 0 0 0 20px;
}

.card-body {
  padding: 0;
}

.search-1 input {
  padding: 5px;
}

.search-box {
  padding-bottom: 20px;
}

.input-texts {
  float: right;
}

.main-text input {
  padding: 5px 0;
  width: 100%;
}

.main-text div {
  margin: 15px 0;
}

.btn-danger {
  padding: 6px 20px;
}

input::placeholder {
  text-indent: 2px;
}

.main-text p {
  margin: 0;
}

.notclick {
  pointer-events: none;
}

#status {
  border: 1px solid;
}

#status2 {
  border: 1px solid;
}

.panel {
  border: 1px solid;
  border-radius: 0.25rem;
}

.alert {
  border: 1px solid;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 0%;
}

#statusText {
  margin: 0;
}

#statusText2 {
  margin: 0;
}


#forth {
  padding-left: 0;
}

#btns {
  float: right;
  margin: 10px 30px 10px 0;
}

@media (max-width: 576px) {
  .main-text {
    max-width: 90%;
  }
}