* {
  margin: 0;
  padding: 0;
}

h3 {
  font-family: "Times New Roman", Times, serif;
}

table {
  width: auto;
  border: 1px solid #cccccc;
  margin: 0 auto;
}

thead {
  text-align: center;
}

td {
  white-space: nowrap;
  text-align: center;
}

#pageNum {
  text-align: center;
}

.PageNum_info {
  text-align: center;
}

.bot {
  margin-top: 20px;
}

.options {
  display: none;
}

#pageNum {
  width: 20px;
  height: 20px;
}

#popWindow {
  display: none;
}

.bhbtngrp {
  margin: 10px 0 10px 0;
}

.bhbtngrp .btn {
  width: 100px;
  height: 40px;
  padding: 0;
}

@media (max-width: 576px) {
  table {
    word-break: keep-all;
  }
}